.visible{
    display: flex;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

.overview{
    overflow-y: scroll;
    width: 50%;
    padding-right: 10px;
    margin-right: 10px;
}

.header-modal {
    width: 100%;
    height: 25%;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.body-modal {
    padding: 5%;
    height: 60%;
}

.movie-stads {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.stads, .overview{
    margin: 0;
}

.modal-close {
    color: #F1F1F1;
    position: absolute;
    margin: 2%;
    font-weight: bold;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close:hover {
    color: #6441A5;
    transition: 0.5s;
}

.modal-content {
    background-color: #000000;
    border: 3px solid #6441A5;
    margin: 10% auto;
    overflow: hidden;
    border-radius: 15px;
    width: 50%;
}

.movie-description{
    display: flex;
    height: 80%;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #6441A5;
}

.poster-modal {
    width: 100%;
    align-self: center;
    filter: blur(4px) grayscale(50);
}

.invisible{
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background: #F1F1F1;
  }
::-webkit-scrollbar-thumb {
      background: #6441A5;
  }
::-webkit-scrollbar-thumb:hover {
    background: #B9A3E3;
  }


@media screen and (min-width: 1800px) {
    .movie-description{
        font-size: 20px;
    }
    .modal-title{
        font-size: 30px;
    }
  }

@media screen and (max-width: 900px) {
    .movie-description{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .overview{
        width: 100%;
        height: 50%;
    }
  }

  @media screen and (max-width: 668px) {
    .modal-content{
        width: 80%;
        height: 50%;
    }
    .overview{
        width: 100%;
        height: 50%;
    }
  }