.container {
    margin: 2% 5%;
}

.filters {
    display: flex;
    flex-direction: row;
    margin: 0 0 15px 10px;
}

.movie-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.category{
    margin: 0 0 10px 10px;
    color: #6441A5;
    font-size: 24px;
}

.filter-title{
    color: #F1F1F1;
    margin: 0 10px 0 0;
}

select{
    background-color: black;
    color: white;
    margin-left: 10px;
}

@media screen and (min-width: 1800px) {
    .filter-title{
        font-size: 30px;
    }
    .category{
        font-size: 35px;
    }
    select, label{
        font-size: 30px;
    }
  }