.header {
    background-color: #F1F1F1;
    display: flex;
    padding: 10px;
}

.company-title{
    margin: 0 5%;
    color: #6441A5;
    background-color: transparent;
    border: 0;
    cursor: pointer;}

h1{
    margin: 0;
}

@media screen and (min-width: 1800px) {
    .company-title{
        font-size: 30px;
    }
  }